@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Yeseva+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


body {
  font-family: "Yeseva One", serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  min-height: 80px;
  background: linear-gradient(
      90deg,
      rgba(203,18,133,1)0%,
      rgba(80,49,145,1) 70%
  );
}

.menu {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotipo {
  width: 68px;
  height: 64px;
}

.navbar ul li {
  position: relative;
  float: left;
}

.navbar ul li a {
  font-size: 18px;
  padding: 20px;
  font-weight: 600;
  color: rgb(255, 228, 196);
  display: block;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: rgb(16, 9, 114);
}

#menu {
  display: none;
}

.menu-icono {
  width: 27px;

}

.menu label {
  cursor: pointer;
  display: none;
}

@media(max-width:991px) {
  
  .content {
    min-height: 70px;
  }

  .menu {
    top: 0;
    padding: 4px;
  }

  .menu label {
    display: initial;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(
      90deg,
      rgba(203,18,133,1)0%,
      rgba(80,49,145,1) 70%
    );
    display: none;
  }

  .menu .navbar ul li {
    width: 100%;
  }

  #menu:checked ~ .navbar {
    display: initial;
  }

}

img {
  max-width: 100%;
}

header {
  align-items: center;
  background-color: rgb(255, 235, 241);
  padding: 2px;
}

span {
  color: rgb(255, 115, 0);
  font-size: 17px;
  font-weight: 400;
  display: block;
  margin-bottom: 25px;
  line-height: 2;
}

.header-txt h1 {
  font-size: 60px;
  text-transform: capitalize;
  line-height: 45px;
  color: rgb(66, 34, 6);
  margin-bottom: 14px;
}

.header-txt p {
  font-size: 18px;
  font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  margin-bottom: 30px;
}

.butons {
  display: flex;
}

.btn-1 {
  display: inline-block;
  padding: 13px 25px;
  background-color: rgb(223, 111, 111);
  margin-right: 20px;
  color: rgb(255, 255, 255);
}